html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(66, 138, 64);
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 50rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario .campo-form {
    background-color: #222222;
    text-align: center;
    color: white;
    font-size: 6rem;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px;
    margin: 0 auto;
}

.formulario .campo-form span {
    font-size: 5rem;
}

.formulario .campo-form input {
    height: 65px;
    font-size: 5rem;
    background-color: #222222;
    color: #ffffff;
    outline: transparent;
    border: none;
}

.formulario .boton {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    max-width: 75%;
    outline: none;
    border: none;
}

.formulario .boton button {
    flex: 1;
    display: block;
    text-align: center;
    background-color: #222222;
    color: #ffffff;
    border: none;
    font-size: 4rem;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.formulario .boton button:active {
    border: none;
    outline: none;
}

.formulario .boton button:focus {
    border: none;
    outline: 0;
}

.respuesta {
    display: none;
    text-align: center;
    font-size: 3rem;
}

.campo-color {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.color-usuario {
    width: 7rem;
    margin-left: 2rem;
    height: 7rem;
    border: 3px solid black;
    border-radius: 50px;
    background-color: #222222;
}

.respuesta p {
    margin-top: 1rem;
}

.respuesta span {
    font-weight: 700;
}

.contenedor-boton {
    display: inline-block;
    margin-bottom: 5rem;
}

.boton-reset {
    display: block;
    text-align: center;
    padding: 1rem 13rem;
    background-color: #822;
    color: #ffffff;
    border: none;
    font-size: 4rem;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

footer {
    position: relative;
}

footer p {
    position: fixed;
    bottom: 10%;
    left: 40%
}

@media (min-width: 768px) {
    footer p {
        left: 47%;
    }
}